form {
  margin: auto;
  background-color: rgb(111, 178, 198, 0.8);
}

.form-body {
  padding: 10px;
  display: flex;
  flex-direction: center;
}

input {
  width: 70%;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(176, 225, 251, 0.8);
}

input.input::placeholder {
  color: #202834;
  font-size: larger;
}

.button {
  margin: 8px;  
  width: 30%;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(176, 225, 251, 0.8);
}
